//Here I want to display the medicine name and the intended usage of it along with all the side effects
//I want to display the side effects in a list
//I need to be able to add a medicine to the database
//I need to be able to delete a medicine from the database
//I need to be able to edit a medicine in the database
//I need to be able to add a side effect to the database
//I need to be able to delete a side effect from the database
//I need to be able to edit a side effect in the database

//<!-- Path: templates/sideeffect.html -->
//Here I want to display the side effect name and the symptoms of it along with all the medicines
//I want to display the medicines in a list
//I need to be able to add a side effect to the database
//I need to be able to delete a side effect from the database
//I need to be able to edit a side effect in the database
//I need to be able to add a medicine to the database
//I need to be able to delete a medicine from the database
//I need to be able to edit a medicine in the database

//<!-- Path: templates/interaction.html -->
//Here I want to display the medicine name and the side effect name
//I need to be able to add an interaction to the database
//I need to be able to delete an interaction from the database
//I need to be able to edit an interaction in the database

//<!-- Path: templates/medicine.html -->
//Here I want to display the medicine name and the intended usage of it along with all the side effects
//I want to display the side effects in a list
//I need to be able to add a medicine to the database
//I need to be able to delete a medicine from the database
//I need to be able to edit a medicine in the database
//I need to be able to add a side effect to the database
//I need to be able to delete a side effect from the database
//I need to be able to edit a side effect in the database

//<!-- Path: templates/sideeffect.html -->
//Here I want to display the side effect name and the symptoms of it along with all the medicines
//I want to display the medicines in a list
//I need to be able to add a side effect to the database
//I need to be able to delete a side effect from the database
//I need to be able to edit a side effect in the database